html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.8rem;
  color:white;
}

table caption{
    color: black;
}

td, th {
  border: 1px solid white;
  padding: 10px 20px;
  background-color: gray;
}

th {
    background-color:cadetblue;
}

td {
  text-align: center;
}

caption {
  padding: 10px;
}

tfoot td{
    background-color: rgb(0, 150, 150);
}